html{
	height: 100%;
}
body{
	min-height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	
}
h4{
	text-align: center;
}
figure{
	display: inline-block;	
}
p {
	text-align: center;
}
.img-milieu{
	text-align: center;
}

figure img{
	width: 175px;
}
footer{
	position: absolute; 
	bottom: 0;
	width: 100%;
	
}